<!DOCTYPE html>
{% extends 'index.html' %}
{% load staticfiles %}
{% block head %}
<title>Gallery</title>
{% endblock %}
{% block body %}
<body>
  <div class="gallery_image">
      <h1>Gallery..!!</h1>
        <a href="{% static "images/Naseem_Akhtar.jpg" %}"><img src="{% static "images/Naseem_Akhtar.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar1.jpg" %}"><img src="{% static "images/Naseem_Akhtar1.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar2.jpg" %}"><img src="{% static "images/Naseem_Akhtar2.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar3.jpg" %}"><img src="{% static "images/Naseem_Akhtar3.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar9.jpg" %}"><img src="{% static "images/Naseem_Akhtar9.jpg" %}" width="400px;"height="280px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar4.jpg" %}"><img src="{% static "images/Naseem_Akhtar4.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar6.jpg" %}"><img src="{% static "images/Naseem_Akhtar6.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar7.jpg" %}"><img src="{% static "images/Naseem_Akhtar7.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar10.jpg" %}"><img src="{% static "images/Naseem_Akhtar10.jpg" %}" width="400px;"height="280px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar8.jpg" %}"><img src="{% static "images/Naseem_Akhtar8.jpg" %}" width="250px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar_students.jpg" %}"><img src="{% static "images/Naseem_Akhtar_students.jpg" %}" width="350px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar13.jpg" %}"><img src="{% static "images/Naseem_Akhtar13.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar12.jpg" %}"><img src="{% static "images/Naseem_Akhtar12.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
        <a href="{% static "images/Naseem_Akhtar14.jpg" %}"><img src="{% static "images/Naseem_Akhtar14.jpg" %}" width="200px;"height="230px;" alt="Hi!" /></a>
    </div>
</body>
{% endblock %}
